
.notes-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: auto;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
	flex-direction: row;

}


.notes-list {
  display: inline-block;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 80px;
  padding: 20px 0;
  text-align: center;
}


.notes-list::-webkit-scrollbar {
  display: none;
}


.note {
  display: inline-block;
  margin: 0 20px;
  color: #7f8c8d;
  font-weight: bold;
  position: relative;
}

.note.active {
  color: #e74c3c;
}

.frequency {
  font-size: 32px;
  text-align: center;      /* 中央揃え */
  margin-top: 10px;        /* 上との余白 */
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: absolute; /* ★fixed → absolute に */
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  width: 100%;
  max-width: 400px;
  height: 33%;
  margin: 0 auto;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #2c3e50;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.frequency-bars {
  position: absolute; /* fixed → absolute */
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}

.swal-button {
  background: #2c3e50;
}

.a4 {
  position: absolute;
  top: 16px;
  left: 16px;
}

.a4 span {
  color: #e74c3c;
}

.auto {
  position: absolute;
  top: 16px;
  right: 16px;
}
