body {
	background-color: lightgray; /* マージン背景色 */
	margin: 0;
	padding: 0;
	width: 100%;
	height:f 100%;
}

.container {
	display: flex;
	flex-direction: column; /* デフォルトは縦並び */
	padding: 10px;
	gap: 10px; /* box間のマージン */
	width: 100%;
}

.box-metronome {
	background-color: white;
	padding: 20px;
	flex: 1;
	min-height: 400px;
}

.box-tuner {
	background-color: white;
	padding: 20px;
	flex: 1;
	min-height: 400px;
	position: relative; /* ★親基準にする */
	overflow: hidden;    /* はみ出し防止（必要に応じて） */	
}

/* 横画面（landscape）のときに横並びに変更 */
@media (orientation: landscape) {
	.container {
		flex-direction: row;
	}
}

.metronome-controls {
	position: absolute;
	flex-direction: column; /* デフォルトは縦並び */
	display: flex;
	top: 0px;
	left: 0px;
	height: 330px;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	margin: 15px;
	background-color: lightgrey;
	
}

.metronome-controls * {
	margin: 5px;
	display:inline-block;
}

.metronome-play {
	flex: 1;
}
.play {
	-moz-box-shadow:inset 0px 20px 26px 0px #b6cde3;
	-webkit-box-shadow:inset 0px 20px 26px 0px #b6cde3;
	box-shadow:inset 0px 20px 26px 0px #b6cde3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background-color:#79bbff;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	color:#ffffff;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:1px 1px 6px #000000;
	width: 80px;
	text-align: center;
}

.play:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background-color:#378de5;
}

.play:active {
	position:relative;
	top:1px; left: 1px;
}

.metronome-showTempo { 
	display: inline-block;
	width: 45px; 
}

.metronome-showSwing { 
	display: inline-block;
	width: 40px; 
}

.beatCanvas {
	background-color: white;
	position: absolute;
	top: 350px;
	left: 0px;
	margin: 15px;
	display:inline-block;
	flex: 1;
}

